
<div class="container-fluid mt-2 p-5">
  <div class="row">
    
    <div class="col-4" >
      
      <form #f="ngForm" name="form" (submit)="onSubmit(f)"> 
        <div class="form-group">
          
          <input [(ngModel)]="product.Id" name="Id" type="hidden" class="form-control">
        </div>

        <div class="form-group">
          <label>Name</label>
          <input [(ngModel)]="product.Name" name="name" type="text" class="form-control">
        </div>

        <div class="form-group">
          <label>Description</label>
          <input [(ngModel)]="product.Description" name ="description" type="text" class="form-control">
        </div>

        <div class="form-group">
          <label>Price</label>
          <input [(ngModel)]="product.Price" name="price" type="text" class="form-control">
        </div>
        <br>

        <button type="submit" class="btn btn-primary">{{isEdit ? 'Update':'Create'}}</button>

      </form>
    </div>
    <div class="col-8">
      <h1>{{errorMsg}}</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let product of productList | paginate: { itemsPerPage: 4, currentPage: page,totalItems:totalLength}">
          <td>{{product.Id}}</td>
          <td>{{product.Name}}</td>
          <td>{{product.Description}}</td>
          <td>{{product.Price}}</td>
          <td><button type="button" class="btn btn-warning"(click)="edit(product)">Edit</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteall(product)">Delete</button></td>
        </tr>
          
        </tbody>
      </table>
      <br>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    
    </div>
  </div>
</div>
